<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Report</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .download-btn {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <center>
        <h1>Client Report</h1>
    </center>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>No. of Orders</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.client_id }}</td>
                <td>{{ client.client_name }}</td>
                <td>{{ client.client_address }}</td>
                <td>{{ client.client_phone }}</td>
                <td>{{ client.client_email }}</td>
                <td>{{ client.total_orders }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>